body{background-color: #99aa55;}
a{color: #fff;text-decoration: none}
a:hover{color: #333}
h3{text-align: center;}
p{width:230px; height:160px;overflow: auto;}
webkit-scrollbar-thumb{background-color:#ac45ab };
.banner{ z-index:-1;}
.aa div{float: left;}
.Logo img{margin-right:50px;padding: 0px;border-radius:30px;}
.menu {width: 1000px;height:60px;font-size: 16px;font-weight: bold;margin-top:50px;margin-bottom: 10px}
.menu ul{list-style-type: none;padding: 0px;overflow: hidden}
.menu li{float: left;text-align: center;font-weight: bold;}
.menu a{display: block;width: 100px;height: 35px;border: 1px solid #fff;line-height: 35px;text-decoration: none;}
.list div{margin-left: 60px;float: left;padding: 10px;border: 1px solid#111}
.list_img div{width:230px; height:260px}